html{
  font-family: Brush Script;
  background-color: rgb(255, 128, 0);
  text-align: left;
}
.header{
  font-size: 40px;
}
.hr{
  height:5px; 
  width:75%; 
  border-width:0; 
  color:black; 
  background-color:rgb(255, 128, 192); 
  padding: 5px;
}
